@model IEnumerable<ApartmentRentalSystem.Models.Apartment>


@{
    ViewBag.Title = "MainPage";
}

<html lang="de">

<head>
    <style>
        #icons {
            position: relative;
            top: 400px;
            left: 500px;
        }

        .Parent {
            position: relative;
        }

        .picture {
            margin-top: 150px;
            margin-bottom: 20px;
            width: 300px;
            height: 200px;
        }

        #mainScreenTop {
            position: relative;
            height: 700px;
            background-color: rebeccapurple;
        }

        .mainScreenTopField {
            float: left;
            width: 32%;
            margin-right: 2%;
            box-sizing: border-box;
            text-align: center;
        }

            .mainScreenTopField:last-child {
                margin-right: 0;
            }

        #bottom {
            position: absolute;
            width: 100%;
            height: 1500px;
            background-color: blue;
            left: 0;
            border-top: 5px solid black;
        }

        #searchBox {
            position: relative;
            top: 200px;
            left: 50%;
            height: 180px;
            width: 900px;
            transform: translate(-50%, -50%);
            background-color: green;
        }

        #apartements {
            position: relative;
            top: 600px;
            left: 50%;
            height: 800px;
            width: 1300px;
            transform: translate(-50%, -50%);
            background-color: pink;
        }

        #footer {
            position: absolute;
            bottom: 0;
            left: 0;
            height: 200px;
            width: 100%;
            background-color: red;
        }
        .apartment_bild{
            width:50px;
            height:50px;
        }
    </style>
    @if (ViewBag.Message != null)
    {
        <script type="text/javascript">

            window.onload = function () {
                alert("@ViewBag.Message");
            };
        </script>

    }
    <meta charset="ascii">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Apartment Rental</title>

</head>
<body style=" margin:0px; background-color:lightblue; border-bottom:solid">
    <div id="mainScreenTop">
        <div class="mainScreenTopField">
            <img class="picture" src="~/Image/Company.jpg">
            <p style="color:black; ">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam enim erat, elementum a dolor nec, auctor porta augue.
                Sed lobortis laoreet mauris, eu pretium purus laoreet eget. Curabitur justo enim, egestas eleifend malesuada vitae, suscipit
                ultricies mauris. In volutpat urna non arcu dapibus lacinia. Nam sit amet lectus sed elit viverra molestie.
            </p>
        </div>


        <div class="mainScreenTopField">
            <img class="picture" src="~/Image/Apartments.jpg">
            <p style="color:black;">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam enim erat, elementum a dolor nec, auctor porta augue.
                Sed lobortis laoreet mauris, eu pretium purus laoreet eget. Curabitur justo enim, egestas eleifend malesuada vitae, suscipit
                ultricies mauris. In volutpat urna non arcu dapibus lacinia. Nam sit amet lectus sed elit viverra molestie.
            </p>
        </div>


        <div class="mainScreenTopField">
            <img class="picture" src="~/Image/Landlord.jpeg">
            <p style="color:black;">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam enim erat, elementum a dolor nec, auctor porta augue.
                Sed lobortis laoreet mauris, eu pretium purus laoreet eget. Curabitur justo enim, egestas eleifend malesuada vitae, suscipit
                ultricies mauris. In volutpat urna non arcu dapibus lacinia. Nam sit amet lectus sed elit viverra molestie.
            </p>
        </div>
    </div>

    <div id="bottom">
        <div id="searchBox">
            @using (Html.BeginForm())
            {
                @*<div>Username</div>
                    <div>@Html.TextBoxFor(m => m.Username)</div>
                    <div>Password</div>
                    <div>@Html.TextBoxFor(m => m.Password)</div>
                    <input type="submit" value="Loggin" />*@

            }

        </div>

        <div id="apartements">
            <table>
                @foreach (var item in Model)
                {
                <tr style="border:2px solid black">
                    <td><img src="~/Image/Apartments.jpg" class="apartment_bild"/></td>
                    <td>@Html.DisplayFor(x => item.Address)</td>
                    <td>@Html.DisplayFor(x => item.Information)</td>
                    <td>@Html.DisplayFor(x => item.Location)</td>
                    <td>@Html.DisplayFor(x => item.NumberOfRooms)</td>
                    <td>@Html.DisplayFor(x => item.Price)</td>
                    <td>@Html.DisplayFor(x => item.SizeOfApartment)</td>
                </tr>
                }
            </table>
            @*MAKE IT AUTO, SO IT FILLS BY IT SELF*@
        </div>
        <div id="footer"></div>
    </div>



</body>
</html>
